@import 'aos/dist/aos.css';

/* Custom AOS animations */
[data-aos='fade-up-slow'] {
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos='fade-up-slow'].aos-animate {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

[data-aos='zoom-in-slow'] {
  transform: scale(0.95);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos='zoom-in-slow'].aos-animate {
  transform: scale(1);
  opacity: 1;
}

/* Custom AOS durations */
[data-aos][data-aos-duration='400'] { transition-duration: 400ms; }
[data-aos][data-aos-duration='600'] { transition-duration: 600ms; }
[data-aos][data-aos-duration='800'] { transition-duration: 800ms; }
[data-aos][data-aos-duration='1000'] { transition-duration: 1000ms; }
[data-aos][data-aos-duration='1200'] { transition-duration: 1200ms; }

/* Custom AOS delays */
[data-aos][data-aos-delay='100'] { transition-delay: 100ms; }
[data-aos][data-aos-delay='200'] { transition-delay: 200ms; }
[data-aos][data-aos-delay='300'] { transition-delay: 300ms; }
[data-aos][data-aos-delay='400'] { transition-delay: 400ms; }
[data-aos][data-aos-delay='500'] { transition-delay: 500ms; }